@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');
@import 'tailwindcss';

@theme {
  --font-display: 'Lexend', sans-serif;
  --font-body: 'Lexend', sans-serif;
  --font-mono: 'Consolas', monospace;

  --color-canvas: #021921; /* WARM BLACK */
  --color-surface: #0f0f1a;
  --color-surface-2: #161625;
  --color-border: rgba(241,247,245,0.08); /* WARM WHITE */
  --color-accent: #d0471d; /* RED */
  --color-accent-dim: rgba(208,71,29,0.15); /* RED */
  --color-accent-2: #51c8b5; /* CYAN */ 
  --color-text: #F1F7F5; /* WARM WHITE */
  --color-muted: #8888a8;

}

html,
body,
#root {
  height: 100%;
}

.light {
  --color-canvas: #f5f5f7;
  --color-surface: #ffffff;
  --color-surface-2: #eaeaf0;
  --color-border: rgba(0,0,0,0.1);
  --color-accent: #00a26b;
  --color-accent-dim: rgba(0,190,125,0.1);
  --color-accent-2: #657dff;
  --color-text: #0d0d1a;
  --color-muted: #5a5a7a;
}
